.sm-visualizer_view-root {
    background-color: #4d4d4d;
}

.sm-visualizer_view-stack-item {
    border-color: rgb(0, 0, 0);
    background-color: rgb(56, 56, 56);
}

.sm-visualizer_view-stack-item_active {
    border-color: rgb(44, 191, 39);
}